@charset "UTF-8";
h1{
    font-size: 30px;
    color: rgba(123, 239, 84, 0.899);
}
h2{
    font-size: 30px;
    background-color: grey;
    color: aliceblue;
}

.example {
    width: 300px;
    height: 300px;
    border: solid 1px black;
}
.example img {
    width: 50%;
    height: 50%;
}

